$blueClr: #5bacc3;
$bgColor: #FFF0ED;

/* body */
body {
    font-family: 'Open Sans';
    
    max-width: 1280px;
    min-width: 1280px;
    margin: 0;    
}

/* header */
.header-section {
    background-color: $bgColor;
}

.navbar {
    background-color: $bgColor;
    padding: 1vh;
    margin: 0;
    
}

.header__h2--nitro {
    font-size: 6vh;
    display: inline;
    text-align: center;
    margin: 0;
    padding: 0;
}

.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    list-style: none;
    font-weight: 400;
    font-size: 2.5vh;
}

.navbar__nav-list--left, .navbar__nav-list--right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar__nav-list--right {
    width: 34%;

}

li.nav-list a {
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    
}

li.nav-list a.anchor-shop-now {
    color: $blueClr;
}